.flex-container {
         /*display: flex;*/
     }

.flex-center {
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
}

.container-formularios{
    /*width: 100%;*/
}

.formulario-login{

}

.formulario-cadastro{

}

.formulario-login, .formulario-cadastro{
     border: 2px black solid;
     border-radius: 10px;
 }

.titulo-formulario{
    text-align: center;
    font-size: x-large;
}

form{
    border-radius: 10px;
    padding: 10px;
    background: lightgray;
}

